<!DOCTYPE html>
<html lang="es=MX">
<head>
 <meta charset="UTF-8">
    <meta author="Wendy Yetlanehzy Martinez Hernandez">
    <meta description="Esta es una pagina de prueba">
    <meta keywords="html, aplicaciones web">
    <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/styles.css" type="text/css">
</head>
      <header>
        <img src="./static/videos/michis.gif" width="1279" height="280" margin="15px" autoplay muted loop fload="center">
      </header>
<body>
<h1 style="color:#2C0CFA;" align="center">BLOG GATUNO</h1>
<h2 style="background-color:#9DF0CA;" align="center">En este blog encontaras tips, juegos, etc..
    para que tu gato tenga una vida feliz.
    <br>
<video src="./static/videos/compu.mp4" width="220" height="230" autoplay muted loop class="center" ></video></h2>
<br>
<div class="header">
    <h1 style="color:#2C0CFA;" align="center">3 JUEGOS FAVORITOS DE LOS GATOS</h1>
</div>

<div class="row">

     <h2 style="background-color:#9DF0E0;" align="center" ><li>Los juegos de escondite </li> <br>
         A casi todos los gatos les encantan los juegos que impliquen “esconderse”.<br>
         Desde el clásico juego del escondite, en el que tú te escondes, lo llamas y es-<br>peras a que te encuentre,
         hasta el de meterse en todos los recovecos para que<br> seas tú quien lo busque a él.
         Si tu gato es aficionado a este tipo de juegos, le<br> encantará que le regales un túnel para esconderse.
         ¡Será como tener un par-<br>que de atracciones en casa!<br><br>
     <img src="./static/images/escondite.jpg" align="center">
         <br>
         <br>
     </h2>
    <h2 style="background-color:#9DF0E0;" align="center"><li>Los juegos de movimiento</li> <br>
         Si tu gato es especialista en dar carreras, puedes buscar otros juegos que impliquen movimiento,<br>
         como lanzarle una pelota para que la atrape, o usar un juguete con luz láser para que la persiga.<br>
         De este modo, además,se mantendrá en forma y evitará problemas de sobrepeso.<br>
          <video src="./static/videos/jugando.mp4" width="220" height="230" autoplay muted loop class="center" ></video></h2>
      <h2 style="background-color:#9DF0E0;" align="center"><li>Los juegos de inteligencia</li> <br>
          Los gatos son animales inteligentes, y por tanto, necesitan estimular sus mentes.<br>
          Ofrécele juegos en los que puedan desarrollar sus habilidades mentales resolviendo<br>
          enigmas, encontrando tesoros o completando puzzles. Y tú lo pasarás genial viendo<br>
          a tu gato superconcentrado con sus juguetes.Seguro que grabas más de un vídeo<br>
          para mandar a tus amigos y familia y presumir de gato listo.<br><br>
          <img src="./static/images/juegoint.jpg" align="center">
          <br>
          <br>
      </h2>

 <h1 style="color:#2C0CFA;" align="center"> RECOMENDACIONES PARA CUIDAR GATOS RECIEN LLEGADOS A CASA</h1>
 <article>
     <h2 style="background-color:#9DF0E0;" align="center">
        <li>CASA</li><br>
         Preparar la casa para darle la bienvenida a tu gato, los gatos son animales inquietos <br>
         y ya verás que se meten en todos los rincones. Ante este carácter aventurero,
         tendre-<br>
         mos que tomar ciertas medidas de precaución cerrando los balcones, puertas y ventanas<br>
         o buscar alternativas como las mallas o algún tipo de barrera para evitar saltos y caídas.<br>
         <br>
         <li>PRODUCTOS TÓXICOS</li><br>
         Otro peligro que puede encontrar el gato al merodear por la casa son los productos tóxicos<br>
         con los que puedan estar a su alcance por algún descuido (ojo con las plantas tóxicas como el<br>
         laurel, filodrendos, amarilis o insecticidas y medicamentos) obviamente hay que evitar
         a toda<br>
         costa la ingesta de estos productos o de cualquier otro objeto con el que pueda atragantarse. <br>
         <br>
         <li>MOBILIARIO</li><br>
         En cuanto al mobiliario y decorado de la casa, sobre todo los objetos decorativos frágiles que se puedan <br>
         romper, habrá que resguardarlos si están a su alcance, ya que puede pasar por al lado y romperlos sin querer.<br>
         <br>
         <br>
         <img src="./static/images/bbb.jpg" align="center">
         <br>
         <br>
     </h2>

 </article>

<div class="footer">
  <p style="background-color:#DDDDDD;" align="center">CREADO POR WENDY HERNANDEZ</p>
</div>
</body>
</html>
</body>